
### .gitignore

```plaintext
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
venv/

# Application files
app/__init__.py
app/config.py

# Logs
*.log


# Temp Data
data/raw

scripts/tests/generate_context.py
scripts/tests/consolidated_code.md
# Ensure SQLite file is not ignored
!data/database.sqlite
