
### .gitignore

```plaintext
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Application files
app/__init__.py
app/config.py

# Logs
*.log


# Temp Data
data/raw